USE [master]
GO
/****** Object:  Database [RichParking]    Script Date: 7/7/2023 12:41:55 PM ******/
CREATE DATABASE [RichParking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RichParking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RichParking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RichParking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RichParking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RichParking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RichParking]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 7/7/2023 12:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [nvarchar](50) NOT NULL,
	[CarType] [int] NULL,
	[LicensePlate] [nvarchar](50) NULL,
	[InTime] [datetime] NULL,
	[OutTime] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[IsWash] [bit] NULL,
	[IsOilChange] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/7/2023 12:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[CarID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Car] ([CarID], [CarType], [LicensePlate], [InTime], [OutTime], [IsDeleted], [IsWash], [IsOilChange], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'01adfbc4-50ea-4e74-af75-5fadbe3ab603', 1, N'51A-49434', CAST(N'2023-02-20T03:18:02.173' AS DateTime), CAST(N'2023-02-20T03:18:02.847' AS DateTime), 1, 1, 0, NULL, CAST(N'2023-02-20T03:18:02.173' AS DateTime), NULL, NULL)
INSERT [dbo].[Car] ([CarID], [CarType], [LicensePlate], [InTime], [OutTime], [IsDeleted], [IsWash], [IsOilChange], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'046109eb-6826-45fd-8ee1-9448497d13a9', 3, N'73A-2321', CAST(N'2023-06-23T05:28:22.517' AS DateTime), CAST(N'2023-06-23T05:28:23.087' AS DateTime), 1, 0, 0, NULL, CAST(N'2023-06-23T05:28:22.517' AS DateTime), NULL, NULL)
INSERT [dbo].[Car] ([CarID], [CarType], [LicensePlate], [InTime], [OutTime], [IsDeleted], [IsWash], [IsOilChange], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'08532e03-66db-4e99-bcbd-a50f94a2dfeb', 3, N'74E-13224', CAST(N'2023-07-05T08:29:20.847' AS DateTime), CAST(N'2023-07-05T08:29:21.663' AS DateTime), 1, 1, 1, NULL, CAST(N'2023-07-05T08:29:20.847' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Invoice] ([InvoiceID], [Price], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [CarID]) VALUES (N'009ff6f3-0ea1-40b7-be3f-fcc0674211f3', CAST(67 AS Decimal(18, 0)), 0, NULL, CAST(N'2023-03-08T07:25:16.770' AS DateTime), NULL, NULL, N'82c3c6b6-41ad-4b66-a275-297251a03e70')
INSERT [dbo].[Invoice] ([InvoiceID], [Price], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [CarID]) VALUES (N'19d90c43-c607-453a-854b-a6c814028220', CAST(7 AS Decimal(18, 0)), 0, NULL, CAST(N'2023-07-05T08:29:34.573' AS DateTime), NULL, NULL, N'69612def-7c2f-4ca6-8809-9d43b683971f')
INSERT [dbo].[Invoice] ([InvoiceID], [Price], [IsDeleted], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [CarID]) VALUES (N'21da9dfc-e10c-4acf-9738-99ed08504240', CAST(59 AS Decimal(18, 0)), 0, NULL, CAST(N'2023-06-21T10:27:29.937' AS DateTime), NULL, NULL, N'a16980fa-94b9-4397-9f08-3f03f4e9c863')
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
USE [master]
GO
